body {

}

/* Change the header background */
.topbar {
    background: linear-gradient(90deg, #00c5fc,#fffb8bdb, #00ff80) !important; /* Green header */
}

/* Add custom title styling */
.swagger-ui .info h1 {
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
}

/* Customize description text */
.swagger-ui .info p {
    font-style: italic;
    color: #555;
    font-family:Courier New, Courier, monospace !important
}

/* Add padding and background for the footer */
.swagger-footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

/* Custom logo */
.topbar-wrapper img {
    content: url(/img/Anya.jpg) !important; /* Replace with your logo file */
    width: 150px;
    height: auto;
}
